.header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 160px;

    padding: 2rem;
    box-sizing: border-box;

    background-color: var(--whiteDark);

    display: flex;
    flex-direction: column;

    z-index: 98;
}

.header__top{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;

    font-family: 'Averox';
    font-size: 2rem;
}

.header__bottom{
    width: 100%;
    height: 50%;

    font-family: 'ProximaNova-Regular';
    font-size: 1.25rem;

    display: flex;
    justify-content: space-around;

    padding: 0 8vw;

    box-sizing: border-box;

    color: var(--black);
}

